[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "lib/github/dracula-iterm"]
	path = lib/github/dracula-iterm
	url = https://github.com/dracula/iterm.git
[submodule "lib/github/powerline-fonts"]
	path = lib/github/powerline-fonts
	url = https://github.com/powerline/fonts.git
