[submodule "vendor/github/dotbot"]
	path = vendor/github/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "vendor/github/dracula-iterm"]
	path = vendor/github/dracula-iterm
	url = https://github.com/dracula/iterm.git
[submodule "vendor/github/powerline-fonts"]
	path = vendor/github/powerline-fonts
	url = https://github.com/powerline/fonts.git
